<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* @package    Optimiseweb_CloudZoom
* @author     Kathir Vel (sid@optimiseweb.co.uk)
* @copyright  Copyright (c) 2014 Optimise Web
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>

    <tabs>
        <optimisewebconfig translate="label comment" module="cloudzoom">
            <label>Optimise Web</label>
            <sort_order>0</sort_order>
        </optimisewebconfig>
    </tabs>

    <sections>

        <optimisewebcloudzoom translate="label comment" module="cloudzoom">
            <label>Clould Zoom</label>
            <tab>optimisewebconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>

                <general translate="label comment" module="cloudzoom">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment tooltip" module="cloudzoom">
                            <label>Enable Clould Zoom</label>
                            <frontend_type>select</frontend_type>
                            <tooltip>This module does not load or contain the jQuery JS file. This decision was made to keep things simple and conflict free. You will have to add jQuery manually.</tooltip>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <loadjs translate="label comment tooltip" module="cloudzoom">
                            <label>Load ClouldZoom.min.js?</label>
                            <frontend_type>select</frontend_type>
                            <tooltip>Loads the required JS file in the 'head' section of the product page. The module comes with version 1.0.3 of CloudZoom inside skin/frontend/base/default/optimiseweb/cloudzoom1. You will have to load the JS file manually if you set this option to No.</tooltip>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </loadjs>
                        <loadcss translate="label comment tooltip" module="cloudzoom">
                            <label>Load ClouldZoom.css?</label>
                            <frontend_type>select</frontend_type>
                            <tooltip>Loads the required CSS file in the 'head' section of the product page. The module comes with version 1.0.3 of CloudZoom inside skin/frontend/base/default/optimiseweb/cloudzoom1. You will have to load the CSS file manually if you set this option to No.</tooltip>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </loadcss>
                        <disableSmallImageZoom translate="label comment tooltip" module="cloudzoom">
                            <label>Disable Smaller Image Zooming</label>
                            <tooltip>Disables zooming on images where the source image's dimensions are smaller than the displayed image. This will work out of the box only if the ZoomImage > Position is set to Inside Original Image. For other positions, you will have to leave the Zoom Image Width and Height blank.</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </disableSmallImageZoom>
                        <disableImageZoom translate="label comment tooltip" module="cloudzoom">
                            <label>Disable Zooming</label>
                            <tooltip>Disables image zooming for all images. Image swap will still work when clicking the gallery of images. This will work out of the box only if the ZoomImage > Position is set to Inside Original Image. For other positions, you will have to leave the Zoom Image Width and Height blank.</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </disableImageZoom>
                    </fields>
                </general>

                <originalImage translate="label comment" module="cloudzoom">
                    <label>Main Image</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <imageWidth translate="label comment tooltip" module="cloudzoom">
                            <label>Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </imageWidth>
                        <imageHeight translate="label comment tooltip" module="cloudzoom">
                            <label>Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </imageHeight>
                        <lensOpacity translate="label comment tooltip" module="cloudzoom">
                            <label>Lens Opacity</label>
                            <tooltip>Opacity of the lens mouse pointer, where 0 is fully transparent, and 1 is fully opaque. In tint and soft-focus modes, it will always be transparent.</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>cloudzoom/system_config_source_opacityrange</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </lensOpacity>
                        <tint translate="label comment tooltip" module="cloudzoom">
                            <label>Overlay Color</label>
                            <tooltip>Specifies a tint colour which will cover the small image. Colours should be specified in hex format, e.g. '#aa00aa'. Does not work with softFocus.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tint>
                        <tintOpacity translate="label comment tooltip" module="cloudzoom">
                            <label>Overlay Color Opacity</label>
                            <tooltip>Opacity of the tint, where 0 is fully transparent, and 1 is fully opaque.</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>cloudzoom/system_config_source_opacityrange</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tintOpacity>
                        <softFocus translate="label comment tooltip" module="cloudzoom">
                            <label>Soft Focus</label>
                            <tooltip>Applies a subtle blur effect to the small image. Set to true or false. Does not work with tint.</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </softFocus>
                    </fields>
                </originalImage>

                <zoomImage translate="label comment" module="cloudzoom">
                    <label>Zoom Image</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <zoomWidth translate="label comment tooltip" module="cloudzoom">
                            <label>Width</label>
                            <frontend_type>text</frontend_type>
                            <tooltip>The width of the zoom window in pixels. If 'auto' is specified, the width will be the same as the small image.</tooltip>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </zoomWidth>
                        <zoomHeight translate="label comment tooltip" module="cloudzoom">
                            <label>Height</label>
                            <tooltip>The height of the zoom window in pixels. If 'auto' is specified, the height will be the same as the small image.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </zoomHeight>
                        <position translate="label comment tooltip" module="cloudzoom">
                            <label>Position</label>
                            <tooltip>Specifies the position of the zoom window relative to the small image. The above Width and Height are ignored if the position is set to Inside Original Image.</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>cloudzoom/system_config_source_position</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </position>
                        <adjustX translate="label comment tooltip" module="cloudzoom">
                            <label>X Position</label>
                            <tooltip>Allows you to fine tune the x-position of the zoom window in pixels.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </adjustX>
                        <adjustY translate="label comment tooltip" module="cloudzoom">
                            <label>Y Position</label>
                            <tooltip>Allows you to fine tune the y-position of the zoom window in pixels.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </adjustY>
                        <smoothMove translate="label comment tooltip" module="cloudzoom">
                            <label>Smooth Move</label>
                            <tooltip>Amount of smoothness/drift of the zoom image as it moves. The higher the number, the smoother/more drifty the movement will be. 1 = no smoothing.</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>cloudzoom/system_config_source_smoothmove</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </smoothMove>
                        <showTitle translate="label comment tooltip" module="cloudzoom">
                            <label>Show Title</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </showTitle>
                        <titleOpacity translate="label comment tooltip" module="cloudzoom">
                            <label>Title Opacity</label>
                            <tooltip>Specifies the opacity of the title if displayed, where 0 is fully transparent, and 1 is fully opaque.</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>cloudzoom/system_config_source_opacityrange</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </titleOpacity>
                    </fields>
                </zoomImage>

                <gallery translate="label comment" module="cloudzoom">
                    <label>Thumbnail Gallery</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <thumbnailwidth translate="label comment tooltip" module="cloudzoom">
                            <label>Thumbnail Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </thumbnailwidth>
                        <thumbnailheight translate="label comment tooltip" module="cloudzoom">
                            <label>Thumbnail Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </thumbnailheight>
                    </fields>
                </gallery>

                <slider translate="label comment" module="cloudzoom">
                    <label>Carousel / Slider for the Thumbnail Gallery</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <type translate="label comment tooltip" module="cloudzoom">
                            <label>Carousel Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>cloudzoom/system_config_source_carouseltype</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </type>
                        <options translate="label comment tooltip" module="cloudzoom">
                            <label>Javascript Options</label>
                            <tooltip>Start with { and end with }</tooltip>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </options>
                    </fields>
                </slider>

                <menu translate="label comment" module="cloudzoom">
                    <label>Admin Menu Control</label>
                    <comment>
                        <![CDATA[
                        <div class="notice-msg" style="background-image: none!important; padding: 5px;">
                        <p style="margin-bottom: 0;">The 'Optimise Web' menu group acts as a parent menu item for the various modules developed by Optimise Web. Use the following settings if you do not wish to see the link in the admin menu and would rather manually visit the System Config.</p>
                        </div>
                        ]]>
                    </comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>999</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <optimiseweball_enabled translate="label tooltip comment" module="cloudzoom">
                            <label>Enable the 'Optimise Web' Admin menu group?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </optimiseweball_enabled>
                        <cloudzoom_enabled translate="label tooltip comment" module="cloudzoom">
                            <label>Enable the 'CloudZoom' link from the Admin menu?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cloudzoom_enabled>
                    </fields>
                </menu>

            </groups>

        </optimisewebcloudzoom>

    </sections>
</config>